*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
    outline: none !important;
}

body {
    line-height: 1.5 !important;
    font-family: "Epilogue", sans-serif !important;
    font-size: 16px !important;
    color: #232323 !important;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
    height: auto;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: #fafafa;
}
body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-45deg, #6a5af9, #166bdc);
    border-radius: 50px;
}

.nav-main {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.nav-main .logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 600;
    width: 24rem;
}
.nav-main .logo img {
    max-width: 40px;
}
.nav-main .header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-main .header-avatar {
    width: 52px;
    height: 52px;
}
.nav-main .header-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100rem;
}
.dashboard-main {
    /* padding: 40px 20px; */
    padding: 40px 0;
    gap: 0 40px;
    z-index: 2;
}
.dashboard-left {
    /* width: 300px; */
    background: #ffffff;
    box-shadow: 10px 10px 20px rgba(218, 213, 213, 0.15);
    border-radius: 12px;
}
.dashboard-left .menu-item.active,
.dashboard-left .menu-item:hover {
    background: #f1f5fb;
    color: #166bdc !important;
}
.dashboard-left .menu-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 14px 20px;
    font-weight: 500;
    color: #808191 !important;
    margin-bottom: 20px;
    cursor: pointer;
}
.dashboard-left .menu-item .menu-icon .icon {
    width: 1.5rem;
    height: 1.5rem;
}
.dashboard-heading {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    color: #171725;
}
.dashboard-short-desc {
    font-size: 14px;
    color: #808191;
}
/* .dashboard-children {
    display: none;
} */
.dashboard-children.active {
    display: block;
}
.btn-style {
    cursor: pointer;
    padding: 0 25px;
    line-height: 1;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #166bdc;
    background-color: #f1f5fb;
    gap: 20px;
}
.btn-style:hover {
    color: #f1f5fb;
    background-color: #166bdc;
    transition: all 0.5s;
}
.btn-style.icon-delete {
    background-color: rgb(254 226 226 / 1);
    color: rgb(239 68 68 / 1);
}

.btn-style .icon {
    width: 1.5rem;
    height: 1.5rem;
}
.input-search {
    padding: 1rem;
    border: 1px solid rgb(209 213 219 / 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5rem;
    height: 60px;
    /* width: 20%; */
}
.input-search:focus {
    border-color: #86b7fe;
}
.table-main {
    overflow-x: auto;
    background-color: white;
    border-radius: 10px;
}
table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}
.table-main table {
    width: 100%;
}
.table-main thead {
    background-color: #f7f7f8;
}
.table-main th {
    /* padding: 20px 30px; */
    padding: 20px 20px;
    font-weight: 600;
    text-align: left;
}
.table-main td {
    padding: 15px 20px;
    /* padding: 15px 30px; */
    /* white-space: nowrap; */
}
.table-main th,
.table-main td {
    vertical-align: middle;
}
.actions-style {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
}
.actions-style span {
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgb(229 231 235 / 1);
}
.actions-style span .icon-action {
    width: 1.25rem;
    height: 1.25rem;
}
.icon-alert {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 5px;
}
.actions-style span:hover {
    background: #f1f5fb;
    color: #166bdc !important;
}
.form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    margin-bottom: 2.5rem;
}
.form-input label {
    color: #4b5264;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}
.form-input div input {
    width: 100%;
    padding: 15px 25px;
    background-color: transparent;
    border: 1px solid #f1f1f3;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.2s linear;
    color: #171725;
    font-size: 14px;
}
.form-input div {
    position: relative;
    width: 100%;
}
.btn-primary-style {
    cursor: pointer;
    padding: 0 25px;
    line-height: 1;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #166bdc;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.btn-primary-style:hover {
    background-color: #0c4b9d;
}
.btn-primary-style-2 {
    cursor: pointer;
    padding: 0 25px;
    line-height: 1;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #166bdc;
    width: 250px;
}
.btn-primary-style-2:hover {
    background-color: #0c4b9d;
    transition: all 0.5s;
}

.btn-cancel {
    cursor: pointer;
    padding: 0 25px;
    line-height: 1;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #166bdc !important;
    background-color: white;
    width: 250px;
}
.btn-cancel:hover {
    border: 1px solid #166bdc;
    transition: all 0.5s;
}

/* loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(51, 51, 51, 0.5);
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 999999;
}

.loader-subject {
  
    
   
    height: 400px;
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 999999;
}
.loader-subject::after {
    content: "";
    width: 100px;
    height: 100px;
    border: 5px solid #dddddd;
    border-top-color: #166bdc;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

/* .loader-subject--hidden {
    opacity: 0;
    visibility: hidden;
} */
.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 100px;
    height: 100px;
    border: 5px solid #dddddd;
    border-top-color: #166bdc;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-control:focus {
    box-shadow: none !important;
}

#deleteAllSelectedRecord {
    display: none;
    /* display: block; */
}

.on {
    display: block !important;
}

/* Modal */
.modal-confirm {
    color: #636363;
    width: 400px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
    font-family: "Epilogue", sans-serif !important;
}
.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
    display: block;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}
.modal-confirm .modal-body {
    color: #999;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
    justify-content: center;
}
.modal-confirm .modal-footer a {
    color: #999;
}
.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #facea8;
}
.modal-confirm .icon-box div {
    color: #f8bb86;
    font-size: 46px;
    display: inline-block;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
}
.modal-confirm .btn-info {
    background-color: rgb(221, 51, 51);
}
.modal-confirm .btn-info:hover,
.modal-confirm .btn-info:focus {
    background-color: rgb(221, 51, 51);
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
.modal-confirm .btn-danger {
    background-color: rgb(48, 133, 214);
}
.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
    background-color: rgb(48, 133, 214);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}
.modal-title {
    margin-top: 30px;
    position: relative;
    max-width: 100%;
    padding: 0;
    color: #595959;
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
}

.modal-body p {
    z-index: 1;
    justify-content: center;
    margin: 1em 1.6em 0.3em;
    padding: 0;
    overflow: auto;
    color: inherit;
    font-size: 1.125em;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: #000;
}

/* ======= Toast message ======== */
.toast:not(.show) {
    display: flex !important;
}

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

/* tost chỉnh cho cái xuất hiện */
.toast {
    display: flex !important;
    align-items: center !important;
    background-color: #fff !important;
    border-radius: 2px !important;
    padding: 20px 0 !important;
    min-width: 400px !important;
    max-width: 450px !important;
    border-left: 4px solid !important;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08) !important;
    transition: all linear 0.3s !important;
}

.toast-main {
    display: flex !important;
    align-items: center !important;
    background-color: #fff !important;
    border-radius: 2px !important;
    padding: 10px 0 !important;
    min-width: 400px !important;
    max-width: 450px !important;
    border-left: 4px solid !important;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08) !important;
    transition: all linear 0.3s !important;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #47d864 !important;
}

.toast--success .toast__icon {
    color: #47d864 !important;
}

.toast--info {
    border-color: #2f86eb !important;
}

.toast--info .toast__icon {
    color: #2f86eb !important;
}

.toast--warning {
    border-color: #f2d338 !important;
}

.toast--warning .toast__icon {
    color: #f2d338 !important;
}

.toast--error {
    border-color: #ff623d !important;
}

.toast--error .toast__icon {
    color: #ff623d !important;
}

.toast + .toast {
    margin-top: 24px !important;
}

.toast__icon {
    font-size: 24px !important;
}

.toast__icon,
.toast__close {
    padding: 0 16px !important;
}

.toast__body {
    flex-grow: 1 !important;
}

.toast__title {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #333 !important;
}

.toast__msg {
    font-size: 14px !important;
    color: #888 !important;
    margin-top: 6px !important;
    line-height: 1.5 !important;
}

.toast__close {
    font-size: 20px !important;
    color: rgba(0, 0, 0, 0.3) !important;
}
.toast__close:hover {
    opacity: 0.8 !important;
    cursor: pointer !important;
}

.icon-sort:hover {
    color: #0d6efd;
}
@media (max-width: 767px) {
    .mbl-none {
        display: none;
    }
}
