

.sortAZ,
.sortZA {
    cursor: pointer;
}


.loading {
    width: 100%;
    height: 384px;
    background-image: url(../img/loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9999;
    overflow: hidden;
    margin: 0 auto;
}

#renderTB>.loader {
    text-align: center;
    margin: 0 auto;
}

.success {
    display: flex;
    background-color: #fff;
    min-width: 400px;
    border-left: 7px solid greenyellow;
    border-top: 1px solid greenyellow;
    border-bottom: 1px solid greenyellow;
    border-right: 1px solid greenyellow;
}

.success,
.error {
    position: absolute;
    bottom: 100px;
    right: 30px;
    overflow: hidden;
    backface-visibility: hidden;
    z-index: 999;
    animation: success linear 3s;
}

@keyframes success {
    0% {
        bottom: 20%;
        opacity: 1;

    }

    100% {
        bottom: 700px;
        opacity: 0;
        display: none;
    }
}

.error {
    display: flex;
    min-width: 400px;
    border-left: 7px solid rgb(148, 47, 47);
    border-top: 1px solid rgb(148, 47, 47);
    border-bottom: 1px solid rgb(148, 47, 47);
    border-right: 1px solid rgb(148, 47, 47);
}
.validate{
    color: red;
}
.n-er,
.n-sc{
    z-index: 999999;
    overflow: hidden;

}
.box-er,
.box-sc {
    width: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-er {
    color: rgb(148, 47, 47);

}

.box-sc {
    color: greenyellow;
}

.content-error,
.content-succsess {
    padding: 6px 12px;

}

.content-succsess>.tiltle {
    color: greenyellow;
    font-size: 24px;

}

.content-error>.tiltle {
    color: rgb(148, 47, 47);
    font-size: 24px;

}



@keyframes scaleW {
    0% {
        width: 0%;
        opacity: 0;
    }

    100% {
        opacity: 1;
        width: 80%;
    }
}

